
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /*Esta modifica el espaciado de las lineas de texto en el parrafo*/
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.tabla {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /*Esta es para que las celdas de una tabla se junten*/
}

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla th {
    background-color: #f2f2f2;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer; /*Esta hace que salga la manito en el mause*/
    border-radius: 5px; /*Esta curva las esquinas de lo que sea*/
}

button:hover {
    background-color: #218838;
}


.contacto {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contacto h4 {
    margin-bottom: 5px;
}


footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.Carrito {
    text-align: right;
}

a {
    text-decoration: none; /*Esta es para quitar cualquier decoracion del texto. como la rayita de los links*/
    color: #ff6600;
}
